body {
    margin: 0;
    background-color: #f9f2b7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.doc {
    width: 50%;
    color: #6b5353;
    white-space: nowrap;
}


.content {
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.content:hover {
    cursor: pointer;
}

.title {
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: xx-large;
    font-weight: bold;
}

.descript {
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.span {
    height: 30px;
}

table {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    color: #6b5353;
}

table td {
    height: 50px;
    width: 100px;
    border: 1px solid gray;
    cursor: pointer;
}